body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-color: rgb(244, 238, 227);
}
/* Personalização adicional do CSS pode ser adicionada aqui */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px; /* Adicione algum espaço entre o topo e a seção ao rolar */
}
.logo a img {
    width: 300px;
    height: auto;
}
.custom-toggler {
    background-color: #8e7758; /* Cor de fundo personalizada */
    border-color: #8e7758; /* Cor da borda personalizada */
}

.custom-toggler:hover {
    background-color: #7a674d; /* Cor de fundo personalizada quando hover */
    border-color: #7a674d; /* Cor da borda personalizada quando hover */
}

.no-padding-margin {
    padding: 0 !important;
}

/* Estilo para as setas (arrows) do carousel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%); /* Defina a cor desejada para as setas */
}

.fixed-top {
    background-color: rgba(31, 21, 1, 0.929);
}

.navbar-brand img {
    width: 8rem;
}
.navbar-collapse {
    margin-left: 0rem;
}

.navbar-collapse .nav-item {
    margin-left: 1rem;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase; /* Para tornar as letras maiúsculas */
    transition: transform 0.3s ease; /* Adiciona transição suave ao crescimento */
}

.navbar-collapse .nav-item:hover {
    transform: scale(1.2); /* Cresce 20% ao passar o mouse */
}

.carousel img {
    max-height: 800px; /* Defina a altura máxima desejada */
    width: auto; /* Isso garantirá que a largura seja ajustada automaticamente */
}

.sobre {
    margin-top: 3rem;
}

.sobre h5 {
    margin-bottom: 1rem;
}
.sobre h2 {
    margin-bottom: 3rem;
}
.sobre p {
    margin-bottom: 3rem;
}

.formul {
    margin: 0;

    padding: 8rem;
}

.formulario-container {
    margin-right: 0;
    margin-left: 0;
}

/* CSS para o formulário */
.form-container {
    background-image: url("/Imagens/cozinha.jpg"); /* Substitua 'sua_imagem.jpg' pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
}

/* Estilo para o texto dentro do formulário */
.form-container h2,
.form-container label,
.form-container input,
.form-container textarea,
.form-container button {
    color: white; /* Cor do texto branco */
}

/* CSS para o formulário */
.form-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.form-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(
        72,
        47,
        7,
        0.612
    ); /* Cor preta com 50% de opacidade */
    z-index: 1; /* Certifique-se de que o overlay fique abaixo do conteúdo do formulário */
}

.form-content {
    position: relative;
    z-index: 2; /* Certifique-se de que o conteúdo do formulário fique acima do overlay */
    padding: 20px;
    color: white; /* Cor do texto branco */
}

/* Estilo para o botão do formulário */
.btn-primary {
    z-index: 2; /* Certifique-se de que o botão fique acima do overlay */
}

.confianca {
    padding: 5rem 18rem 5rem 18rem;
    background-color: rgb(244, 238, 227);
    margin: 0 !important;
}

.confianca h2 {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 22px;
}

.testimo {
    margin-bottom: 8rem;
    padding: 5rem 15rem 5rem 15rem;
    background-color: rgb(244, 238, 227);
    width: 100vw; /* Definindo largura igual à largura da viewport */
    display: none;
}

.testimo h2 {
    font-size: 22px;
}
.testimo h1 {
    font-size: 28px;
}
.testimo .carousel-control-next {
    margin-right: -5rem;
}
.testimo .carousel-control-prev {
    margin-left: -5rem;
}

/* Remova a altura fixa para permitir que a altura seja determinada pelo conteúdo */
.testimo .carousel-inner {
    height: auto !important;
}

.foot {
    margin-bottom: 3rem;

    margin-bottom: 3rem;
}

.foot .btn-primary {
    margin-bottom: 2rem;
}

.foot .social {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

@media (max-width: 767px) {
    .logo a img {
        width: 100px;
        height: auto;
    }
    .carousel img {
        margin-top: 5rem;
        height: 200px;
    }
    .sobre h5 {
        font-size: 15px;
    }
    .sobre h2 {
        font-size: 20px;
    }

    .carousel .carousel-control-prev {
        margin-top: 5rem;
    }
    .carousel .carousel-control-next {
        margin-top: 5rem;
    }

    .formul {
        padding: 2rem;
        margin-bottom: 3rem;
    }

    .btn-lg {
        margin-bottom: 3rem;
    }

    .formular {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 300px; /* Ajuste conforme necessário */
    }
    .formular h4 {
        font-size: 20px;
    }

    .confianca {
        padding: 0;
    }
    .confianca i {
        margin-top: 3rem;
    }

    .testimo {
        padding: 0;
    }
    .testimo .carousel-control-next {
        margin-right: 0rem;
    }
    .testimo .carousel-control-prev {
        margin-left: 0rem;
    }
    footer {
        text-align: center;
    }
    .foot {
        padding: 40px; /* Adapte conforme necessário */
    }

    .map-iframe {
        width: 100%; /* Largura total para dispositivos móveis */
        height: 300px; /* Altura ajustada para dispositivos móveis */
    }

    .copy {
        font-size: 10px;
    }
}

/* Adicione estas regras dentro da sua media query existente */
@media (min-width: 768px) and (max-width: 1000px) {
    .confianca {
        padding: 0;
    }
    .confianca-cols .col-md-4 {
        margin: 10px; /* Define o espaçamento entre as colunas */
        width: 20%;
    }

    .formular {
        margin-right: auto; /* Centralize o formulário na largura disponível */
        max-width: 200px; /* Ajuste a largura máxima do formulário conforme necessário */
        margin-top: 20px; /* Aproxime o formulário do restante do conteúdo */
    }

    .formular h4 {
        font-size: 20px;
    }
}
